
{% load static %}

{% block javascript %}
  <script src="{% static 'customers/js/customers.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Doctors Information</h1>

    <table border="1">
    <tr>
      <th>ID</th>
    <th>Name</th>
      <th>Email</th>
    <th>Age</th>
    <th>Mobile</th>
    <th>Department</th>
        <th>Specialization</th>
        <!--
      <th>Modify</th>-->
      <th>Delete</th>
    </tr>
    {% for x in doctors %}
      <tr>
        <td> {{ x.id }} </td>
      <td>{{ x.name }}</td>
        <td> {{ x.email }} </td>
      <td>{{ x.age }}</td>
      <td>{{ x.phone_number }}</td>
        <td>{{ x.department }}</td>
          <td>{{ x.specialization }}</td>
          <!--
        <td><a href="emp-details/{{ x.id }}">Update</a></td> -->
      <td><a href="remove/{{ x.email }}">Delete</a></td>
      </tr>
    {% endfor %}
    </table>


  <div class="modal fade" id="modal-customer">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
<!--
<p>
  <h1>Add employee Data</h1>
<a href="add/">Add Employee</a>
</p>

<p>
  <h1>Delete employees Data</h1>
<a href="emp-bulk-delete/">Delete All Employees</a>
</p>
-->
{% endblock %}